<!-- 显示我的所有朋友的列表 -->

  <% if(friends.length==0) { %>
  <div class="col-md-8  col-xs-8">
    <h4 class="text-danger">你还没有朋友，点击查找添加新的朋友！</h4>
  </div>
  <% } else { %>
          
  <% friends.forEach( function(friend){ %>
    <div class="col-xs-6 col-md-3">
      <div class="thumbnail">
        <div class="friend">
          <a href="/users/friendPhotos?uid=<%= friend.id%>&friend=<%= friend.nickname || friend.email %>">
            <img class="img-responsive img-circle friends-avatar" src="<%= friend.avatar_url || '/images/user.jpg' %>" alt="<%= friend.nickname %>">
          </a>
        </div>
        <div class="caption friend-info">
          <% if(friend.status === 0) { %>
            <p class="text-center">
              <span class="friend-name"><%= friend.nickname || friend.email %></span>
              <span class="text-danger">邀请你为朋友</span>
            </p>
            <div class="btn-group">
              <a type="button" class="btn btn-success" href="/friend/accept/<%= friend.id%>">同意</a>
              <a type="button" class="btn btn-warning" href="/friend/refuse/<%= friend.id%>">拒绝</a>
            </div>
          <% } else {%>
            <h5 class="friend-name text-center"><%= friend.nickname || friend.email %></h5>
            <% if(friend.how_many) { %>
              <a class="text-success" href="/users/friendPhotos?uid=<%= friend.id%>&friend=<%= friend.nickname || friend.email %>">
              上传了<span class="label label-info"><%= friend.how_many %></span>张照片
              </a>
            <% }else{ %>
              <span class="text-success">上传了<span class="label label-info">0</span>张照片</span>
            <% } %>
          <% } %>
        </div>
      </div>
    </div>
  <% });
} %>
