<% albums.forEach( function(album){ %>
    <div class="col-xs-6 col-md-3">     
             <div class="album">
                <div class="album-cover">
                    <h1 class="pull-right"><%= album.name || '未分类的照片'%></h1>
                </div>
                <div class="album-content">
                    <img class="img-responsive" src="<%= album.url %>" alt="<%= album.name %>">
                </div>    
            </div>
            <div class="caption">
                <% if (album.how_many) {%>
                    <a class="text-success" href="/users/albumPhotos?album=<%=album.id%>">这个相册中共有<%= album.how_many %>张照片</a>
                <% }else{ %>
                    <span class="text-danger">这个相册没有照片</span>
                    <a class="btn btn-danger btn-album-delete" href="/album/del?id=<%=album.id%>" >删除</a>
                <% } %>
            </div>
    </div>
<% } ) %>